<div class="container">
  <div class="input-row">
    <label for="t_filter">
      Filter prefix:
    </label>
    <input id="t_filter" type="text" [formControl]="filter">
  </div>

  <div class="container__crud">
    <div class="container__crud__list">
      <ul class="names-list">
        <li *ngFor="let fullName of fullNames; let i = index"
            (click)="selectName(i)"
            [ngClass]="{'names-list--selected' : indexSelectedName === i}">
          <span class="names-list__full-name">
            {{ fullName.name }} {{ fullName.surname }}
          </span>
        </li>
      </ul>
    </div>

    <div class="container__crud__form">
      <form [formGroup]="nameForm">
        <div class="input-column">
          <label for="t_name">
            Name:
          </label>
          <input id="t_name" type="text" formControlName="name">
        </div>
        
        <div class="input-column">
          <label for="t_surname">
            Surname:
          </label>
          <input id="t_surname" type="text" formControlName="surname">
        </div>
      </form>
    </div>
  </div>

  <div class="container__buttons">
    <button id="btn_create" 
            type="button"
            class="btn btn--create"
            (click)="createName()">
      Create
    </button>

    <button id="btn_update"
            type="button"
            class="btn btn--update"
            [disabled]="!hasSelectedName"
            (click)="updateName()">
      Update
    </button>

    <button id="btn_delete"
            type="button"
            class="btn btn--delete"
            [disabled]="!hasSelectedName"
            (click)="deleteName()">
      Delete
    </button>
  </div>

</div>