
:root {
  --color-create: #6ee7b7;
  --color-create-hover: #6ee7b7b8;
  --color-update: #fde689;
  --color-update-hover: #fde689b8;
  --color-delete: #fca5a5;
  --color-delete-hover: #fca5a5b8;

  --color-border: #cccccc;

  --color-selected: #add8e6;
  --color-hover: #e2e2e2;
}
